@import './base.css';
@import './fonts.css';

html,
body,
#app {
}

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
}

a,
.green {
  color: var(--color-accent-link);
  transition: 0.4s;
}

button,
.u-button {
  background: none;
  border: none;
  padding: 0 0.25rem;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: 600;
  border-radius: 0.25rem;

  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

  &:disabled {
    cursor: not-allowed;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:hover,
  &:focus-visible {
    &:not(:disabled) {
      background-color: var(--color-accent);
    }
  }

  &[data-color='important'] {
    background-color: var(--color-accent);
  }

  &[data-color='black'] {
    background-color: var(--color-text);
    color: var(--color-background);
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;

    &:hover {
      color: var(--color-text);
      background-color: var(--color-accent);
    }
  }
}

button,
.u-button {
  &:not(.noStyle) {
    text-transform: lowercase;
    font-variant: small-caps;
  }
}

strong {
  font-weight: 600;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
label {
  display: block;
  font-size: 1rem;
  font-weight: 600;
}
p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

small {
  font-size: 0.8rem;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

input[type='text'],
input[type='search'],
input[type='number'],
input[type='url'] {
  position: relative;
  border: none;
  border-bottom: 1px solid var(--color-text-secondary);
  border-radius: 5px;
  padding: 5px;

  &:focus {
    outline: none;
    border-color: var(--color-accent);
  }
  &:required {
    /* border-color: var(--color-warning); */
    background-size: 12px 12px;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-image: radial-gradient(var(--color-warning) 18%, transparent 30%);
  }
}

input[type='number'] {
  text-align: center;
}

hr {
  margin: 1rem 0;

  border: none;
  border-top: 1px solid #ccc;
}

ol,
ul {
  li {
    margin: 1rem 0;
  }
}
