@import './base.css';
@import './fonts.css';

html,
body,
#app {
}

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
}

a,
.green {
  color: var(--color-accent-link);
  transition: 0.4s;
}

button,
.u-button {
  background: none;
  border: none;
  padding: 0 0.25rem;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: 600;
  border-radius: 0.25rem;

  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

  &[disabled] {
    cursor: not-allowed;
    color: var(--color-text-secondary);
  }

  svg {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: middle;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:hover,
  &:focus-visible {
    &:not(:disabled) {
      background-color: var(--color-accent);
    }
  }

  &[data-color='important'] {
    background-color: var(--color-accent);
  }

  &[data-color='black'] {
    background-color: var(--color-text);
    color: var(--color-background);
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;

    &:hover {
      color: var(--color-text);
      background-color: var(--color-accent);
    }
  }
}

button,
.u-button {
  &:not(.noStyle) {
    text-transform: lowercase;
    /* font-variant: small-caps; */
  }
}

strong {
  font-weight: 600;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
label {
  display: block;
  font-size: 1rem;
  font-weight: 600;
}
p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

small {
  font-size: 0.8rem;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

input[type='text'],
input[type='search'],
input[type='number'],
input[type='url'],
select {
  position: relative;
  border: none;
  background: white;
  border-bottom: 1px solid var(--color-text-secondary);
  border-radius: 0.25rem;
  padding: 0.25rem;

  &:hover {
    border-color: black;
  }

  &:focus {
    outline: none;
    border-color: var(--color-accent);
  }
  &:required {
    /* border-color: var(--color-warning); */
    background-size: 8px 8px;
    background-position: 0% 0;
    background-repeat: no-repeat;
    background-image: radial-gradient(var(--color-warning) 28%, transparent 40%);
  }
}
input[type='range'] {
  border-color: transparent;
}

input[type='number'] {
  text-align: center;
}

hr {
  margin: 1rem 0;

  border: none;
  border-top: 1px solid #ccc;
}

ol,
ul {
  li {
    margin: 1rem 0;
  }
}

.inputField {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 0rem;

  label {
    font-size: 0.8rem;
    font-weight: 800;
  }
}

.loader {
  /* --color: var(--color-accent); */
  --color: var(--color-text);

  width: 106px;
  height: 56px;
  display: block;
  margin: 30px auto;
  background-image: linear-gradient(var(--color) 50px, transparent 0),
    linear-gradient(var(--color) 50px, transparent 0),
    linear-gradient(var(--color) 50px, transparent 0),
    linear-gradient(var(--color) 50px, transparent 0),
    radial-gradient(circle 14px, var(--color) 100%, transparent 0);
  background-size:
    48px 15px,
    15px 35px,
    15px 35px,
    25px 15px,
    28px 28px;
  background-position:
    25px 5px,
    58px 20px,
    25px 17px,
    2px 37px,
    76px 0px;
  background-repeat: no-repeat;
  position: relative;
  transform: rotate(-45deg) scale(1.5);
  box-sizing: border-box;
}
.loader::after,
.loader::before {
  content: '';
  position: absolute;
  width: 56px;
  height: 56px;
  border: 6px solid var(--color);
  border-radius: 50%;
  left: -45px;
  top: -10px;
  background-repeat: no-repeat;
  background-image: linear-gradient(var(--color) 64px, transparent 0),
    linear-gradient(var(--color) 66px, transparent 0),
    radial-gradient(circle 4px, var(--color) 100%, transparent 0);
  background-size:
    40px 1px,
    1px 40px,
    8px 8px;
  background-position: center center;
  box-sizing: border-box;
  animation: rotation 0.5s linear infinite;
}
.loader::before {
  left: 25px;
  top: 60px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
